/* 전체 */
.side {
  float: right;
  border: 1px solid red;
  width: 18%;
  display: inline-block;
  /* display: inline; */
  height: 100%;
  /* height: 93.5vh; */
}

.side_Link {
  /* width: 20%; */
  /* border: 1px solid gray; */
  /* 보더 하면 줄이기 */
}
