/* ! 모달창 전체 *************************************/
.modal {
  position: absolute;
  border-radius: 5px;
  /* border: 3px solid red; */
  width: 23%;
  height: 70%;
  top: 10%;
  left: 40%;
  z-index: 999;
  background-color: hsl(300, 1%, 33%);
  /* background-color: lightgray; */
  /* display: none; */
}
/* 모달창 */
.modal_is_logged_in,
.modal_is_not_logged_in {
  /* border: 3px solid blue; */
  width: 100%;
  height: 100%;
}

.modal_is_logged_in_close_btn,
.modal_is_not_logged_in_close_btn {
  /* border: 3px solid red; */
  /* float: right; */
  /* position: absolute; */
  /* right: 100px; */
  border: none;
  background-color: #545254;
  /* color: white; */
  /* font-size: 1.5vmax; */
  margin-top: 3%;
  margin-left: 88%;
  width: 8%;
  /* height: 20%; */
}

.modal_is_logged_in_close_btn_img,
.modal_is_not_logged_in_close_btn_img {
  width: 100%;
  height: 100%;
}

/* ! 로그인 - 유저이름 Hi, username **************************************/
.modal_my_profile_username {
  border: 3px solid black;
  text-align: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 10%;
  font-size: 2.3vmax;
  /* width: 100%; */
}

/* ! 로그인 - 디브 유저 이미지  **************************************/
.modal_my_profile_div_user_img {
  border: 2px solid black;
  width: 40%;
  height: 22%;
  /* text-align: center; */
  /* 수평으로 가운데 위치시킴 */
  margin: auto;
  /* 마진 오토랑 중복 안됨 */
  /* margin-top: 5%; */
}
.modal_my_profile_div_center_user_img {
  /* margin: auto; */
}

/* ! 로그인 - 유저 이미지  **************************************/
.modal_my_profile_user_img {
  width: 100%;
  height: 100%;
}

/* Change Name 버튼 **************************************/
.modal_my_profile_change_username_btn {
  border: 2px solid black;
  text-align: center;
  margin-top: 13%;
  height: 10%;
  font-size: 1.7vmax;
}

/* Change Password 버튼 **************************************/
.modal_my_profile_change_password_btn {
  border: 2px solid black;
  text-align: center;
  margin-top: 10%;
  height: 10%;
  font-size: 1.7vmax;
}

/* Logout  버튼 **************************************/
.modal_my_profile_logout_btn {
  border: 2px solid black;
  text-align: center;
  margin-top: 10%;
  height: 10%;
  font-size: 1.7vmax;
  /* float: right; */
  /* position: absolute; */
  /* right: 10%; */
}

/* ! 비로그인 시 *************************************/

/* 인풋들 세로 크기 */
.modal_my_profile_input {
  height: 50%;
  width: 100%;
  font-size: 1.3vmax;
  border-radius: 3px;
  border: none;
}

/* 인사말 **************************************/
.modal_my_profile_greeting {
  /* border: 3px solid black; */
  text-align: center;
  align-items: center;
  margin-top: 7%;
  height: 10%;
  font-size: 2.3vmax;
}

/* ID 박스 *************************************/
.modal_my_profile_box_user_id {
  /* border: 2px solid red; */
  margin-top: 4%;
  height: 15%;
  margin-bottom: 2%;
}

/* ID : **************************************/
.modal_my_profile_div_user_id {
  /* border: 2px solid black; */
  width: 80%;
  font-size: 1.3vmax;
  /* 수직 중앙 정렬 */
  margin: auto;
}

/* 아이디 적는 인풋 감싼 디브 **************************************/
.modal_my_profile_input_user_id {
  /* border: 2px solid black; */
  width: 80%;
  margin: auto;
  height: 65%;
  margin-top: 2%;
}

/* 비밀번호 박스 ******modal_my_profile_input_user_id*******************************/
.modal_my_profile_box_user_password {
  /* border: 2px solid red; */
  /* margin-top: 10%; */
  height: 15%;
  /* margin-bottom: 5%; */
}
/* Password: **************************************/
.modal_my_profile_div_user_password {
  /* border: 2px solid black; */
  margin: auto;
  width: 80%;
  font-size: 1.3vmax;
}
/* 비밀번호 적는 인풋 감싼 디브*/
.modal_my_profile_input_user_password {
  /* border: 2px solid black; */
  width: 80%;
  margin: auto;
  height: 65%;
  margin-top: 2%;
}

/* 로그인 버튼 */
.modal_my_profile_sign_in_btn_box {
  /* border: 2px solid black; */
  /* font-size: 1.5vmax; */
  margin: auto;
  margin-top: 10%;
  width: 40%;
  height: 7%;
  /* 세로 중앙 정렬, 다른 정식 방뻐 찾아보기 */
  /* line-height: 230%; */
}
.modal_my_profile_sign_in_btn {
  /* border: 2px solid black; */
  /* text-align: center; */
  /* margin-top: 30%; */
  width: 100%;
  height: 100%;
  font-size: 1.3vmax;
  /* margin: auto; */
  /* 세로 중앙 정렬, 다른 정식 방뻐 찾아보기 */
  /* line-height: 230%; */
}

/* ! 소셜 로그인 전체 박스 */
.modal_my_profile_social_login_btn_box {
  /* border: 3px solid blue; */
  width: 20%;
  height: 5%;
  margin: auto;
  margin-top: 3%;
}

/* ! 구글 로그인 박스 */
.modal_my_profile_social_login_google_btn_box {
  display: inline;
  width: 100%;
  height: 100%;
  margin-right: 6%;
}
.modal_my_profile_social_login_google_btn {
  width: 46%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  /* background-color: hsl(300, 1%, 33%); */
  background-color: lightgray;
}

.modal_my_profile_social_login_google_btn_img {
  width: 100%;
  height: 100%;
}

.modal_my_profile_social_login_github_btn_box {
  /* border: 3px solid red; */
  display: inline;
  width: 100%;
  height: 100%;
}

.modal_my_profile_social_login_github_btn {
  width: 46%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  /* background-color: hsl(300, 1%, 33%); */
  background-color: lightgray;
}

.modal_my_profile_social_login_github_btn_img {
  width: 100%;
  height: 100%;
}

.modal_my_profile_sign_up_btn_box {
  /* border: 3px solid red; */
  margin: auto;
  margin-top: 15%;
  width: 70%;
  height: 8%;
  font-size: 1.3vmax;
  text-align: center;
  /* color: lightgray; */
}
