/* 페이지 전체 **********************************/
.profile-page {
  /* border: 3px solid gray; */
  background-color: #212021;
  height: 100vh;
  /* height: 100%; */
  margin: 0;
  position: relative;
}

.test-profile-page {
  /* border: 3px solid gray; */
}

/* 모달 틀 **********************************/

/* 모달 틀 Profile부터 Logged in as ~~까지*/
.div-modal-btn-list {
  /* position: fixed; */
  border: 3px solid red;
  position: absolute;
  width: 30%;
  height: 70%;
  top: 15%;
  left: 33%;
}

/* 타이틀 profile */
.title-profile {
  /* border: 3px solid gray; */
  height: 15%;
  color: white;
  /* 화면 커지면 크게 */
  font-size: 1.5em;
}

/* 로그인한 유저 계정 */
.logged-in-user {
  color: white;
}

/* 모달 각 버튼 */
.div-modal-btn {
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  margin: 10px;
  height: 13%;
  /* width: 100%; */
}

/*  Username, Password..  */

.div-modal-btn-text {
  margin: 10px;
  color: white;
  height: 100%;
  border: 1px solid gray;
  /* align-items: center; */
}

/* 이름  *********************************/

/* 이름 변경 div */
.div-open-change-name {
  background-color: black;
  position: absolute;
  top: 20%;
  left: 28%;
  width: 40%;
  height: 70%;
  border: 5px solid white;
}

/* 이름 변경 폼 */
/* .open-change-name {
  position: absolute;
  margin: 10px;
  border: 3px solid blue;
} */

/* div Current Username : Coding Kim */
.div-current-username {
  margin: 10px;
  border: 3px solid red;
}
/* Current Username : Coding Kim */
.current-username {
  color: white;
  margin: 10px;
  display: inline;
  border: 3px solid blue;
}
.div-new-user-name {
  margin: 10px;
  display: inline;
  border: 3px solid red;
}

.label-new-user-name {
  color: white;
}
#new-user-name {
  margin: 10px;
  display: inline;
  border: 3px solid blue;
}

.update-btn {
  border: 3px solid blue;
}

/* 비밀번호 ********************************/

/* 비밀번호 div */
.div-open-change-password {
  /* background-color: black; */
  position: absolute;
  top: 20%;
  left: 28%;
  width: 40%;
  height: 70%;
  border: 5px solid white;
}

/* 비밀번호 변경 폼 */
.form-change-password {
  margin: 10px;
  border: 3px solid blue;
}

.div-old-user-password,
.div-new-user-password,
.div-confirm-user-password,
.div-update-btn {
  margin: 10px;
  border: 3px solid blue;
}

label {
  border: 3px solid green;
}

#old-user-password {
  border: 3px solid green;
  display: block;
}

#new-user-password {
  border: 3px solid green;
  display: block;
}

#confirm-user-password {
  border: 3px solid green;
  display: block;
}

/* width 1300 넘으면 ***********************************************/

@media screen and (min-width: 1300px) {
  /* 타이틀 profile */
  .title-profile {
    /* 화면 커지면 크게 */
    /* font-size: 1.5em; */
    font-size: 1.8em;
  }
}

/* height 529px(맥북 13인치 최대 보다 작으면 */
@media screen and (min-height: 530px) {
}
