body {
  margin: 0;
  overflow-x: hidden;
  background-color: #212021;
  height: 100%;
}

.water_page {
  height: 100%;
    background-color: #212021;
}

.loaded_water_page {
  width: 100%;
  height: 100%;
}


.water_page_container {
  float: left;
  margin-top: 1%;
  height: 100%;
  width: 80%;
}


.water_page_small_size_lists {
  display: grid;
  grid-gap: 2.2%;
  padding-left: 60px;
  margin-top: 10px;
  width: 85%;
  height: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 32%);
}


.water_page_thumbnail {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: -6px 6px 8px black;
}

.water_page_thumbnail_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition-property: width, height;
  transition-duration: 1s, 1s;
}

.water_page_thumbnail_img:hover {
  border: 3px solid white;
}



.water_page_thumbnail_1 {
  grid-row-end: 2; 
}

.water_page_thumbnail__btn_box {
  position: absolute;
  width: 21.7%;
  height: 29%;
}
.water_page_thumbnail__btn {
  z-index: 9;
  border-radius: 50%;
  background-color: white;
  opacity: 0.1;
  color: black;
  position: absolute;
  font-size: 1vmax;
  width: 10%;
  height: 13%;
  top: 80%;
  left: 86%;
  
}

.water_page_thumbnail__btn_like {
  z-index: 9;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  color: black;
  position: absolute;
  font-size: 1vmax;
  width: 10%;
  height: 13%;
  top: 80%;
  left: 86%;
}

.water_page_thumbnail__btn:hover {
  z-index: 9;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  color: black;
  position: absolute;
  font-size: 1vmax;
  width: 10%;
  height: 13%;
  top: 80%;
  left: 86%;
}

.water_page_thumbnail__btn_icon {
  width: 60%;
  height: 60%;
  opacity: 0.8;
  margin-top: 10%;
  margin-left: 20%;
}


@media screen and (min-width: 1400px) {

}
