/* 페이지 전체 */
.water-page {
  /* 모달 정가운데 배치 위해 상위에서 작업 */
  /* width: 100%; */
  /* height: 100%; */
  /* background: #000; */
  /* position: relative; */
}

.loaded_water_page {
  border: 3px solid gray;
  width: 100%;
  height: 100%;
}

/* 썸네일 담은 컨테이너 */
.water_page_container {
  float: left;
  border: 5px solid red;
  height: 100%;
  width: 80%;
}

/* 햄버거 열었을 때 작은 사이즈 썸네일*/
.water_page_small_size_lists {
  /* border: 5px solid blue; */
  display: grid;
  grid-gap: 2%;
  /* grid-gap: 10px; */

  /* 그리드 전체 위치 조정 */
  padding-left: 60px;
  margin-top: 10px;

  width: 85%;
  height: 90%;

  /* background-color: #2196f3; */
  /* grid-template-columns: repeat(4, 13.43%); */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: repeat(7, 6.5%); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 32%);
}

/* 사이드 바 열렸을 때 비디오 리스트 */
.water_page_small_size {
  /* margin-top: 5%; */
  /* margin-left: 3%; */
  /* margin: 5%; */
  /* margin-top: 7%; */
  /* border: 5px solid blue; */
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-gap: 10px;
  /* grid-gap: 1%; */
  /* grid-gap: 30px; */
  /* background-color: #2196f3; */
  /* margin-top: 40px; */
  /* padding-left: 60px; */
  width: 75%;
  height: 90%;
  /* grid-template-columns: repeat(4, 13.43%); */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(7, 6.5%); */
  grid-template-rows: repeat(7, 36%);
}

.water_page_thumbnail_img {
  border: 3px solid blue;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition-property: width, height;
  transition-duration: 1s, 1s;
}

.water_page_thumbnail_img:hover {
  border: 3px solid white;
}

/* 썸네일 */

.water_page_thumbnail_1 {
  /* grid-row-start: 1;
  grid-row-end: 2; */
  /* grid-column-start: 1; */
  /* grid-column-end: 2; */
  /* width: 100%; */
  /* height: 100%; */
}
/* //! 클릭 시 영상으로 이동 */
.water_page_thumbnail__btn_box {
  border: 3px solid blue;
  position: absolute;
  width: 21.7%;
  height: 29%;
  /* top: 25%; */
  /* left: 20%; */
}
.water_page_thumbnail__btn {
  z-index: 9;
  /* border: 3px solid red; */
  /* border: none; */
  /* border-color: white; */
  border-radius: 50%;
  /* background-color: transparent !important; */
  background-color: white;
  /* background-image: none !important; */
  /* border-color: transparent; */
  opacity: 0.7;
  /* border: none; */
  /* color: #ffffff; */
  color: black;
  position: absolute;
  font-size: 1vmax;
  width: 10%;
  height: 13%;
  top: 83%;
  left: 89%;
}
.water_page_thumbnail__btn_icon {
  width: 60%;
  /* border: 3px solid red; */
  height: 60%;
  opacity: 0.8;
  margin-top: 10%;
  margin-left: 20%;
}

.water_page_thumbnail_2 {
  /* border: 3px solid orange; */

  /* grid-row-start: 1;
    grid-row-end: 2; */
  /* grid-column-start: 2; */
  /* grid-column-end: 3; */
}
.water_page_thumbnail_3 {
  /* border: 3px solid yellow; */

  /* grid-row-start: 1;
    grid-row-end: 2; */
  /* grid-column-start: 3; */
  /* grid-column-end: 4; */
}
.water_page_thumbnail_4 {
  /* border: 3px solid green; */

  /* grid-row-start: 1;
    grid-row-end: 2; */
  /* grid-column-start: 4; */
  /* grid-column-end: 5; */
}
.water_page_thumbnail_5 {
  /* border: 3px solid blue; */

  /* grid-row-start: 1;
    grid-row-end: 2; */
}
.water_page_thumbnail_6 {
  /* border: 3px solid navy; */

  /* grid-row-start: 1;
    grid-row-end: 2; */
}
.water_page_thumbnail_7 {
  /* border: 3px solid purple; */

  /* grid-row-start: 1;
    grid-row-end: 2; */
}
.water_page_thumbnail_8 {
  /* border: 3px solid red; */

  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
}
.water_page_thumbnail_9 {
  /* border: 3px solid black; */

  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
}
.water_page_thumbnail_10 {
  /* border: 3px solid black; */

  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
}
.water_page_thumbnail_11 {
  /* border: 3px solid black; */

  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
}
.water_page_thumbnail_12 {
  /* border: 3px solid black; */

  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
}

/* width 1400 넘으면 ************************************************/
@media screen and (min-width: 1400px) {
  /* 비디오 리스트 */
  .water-list {
    /* margin-top: 5%; */
    /* margin-left: 3%; */
    /* margin: 5%; */
    /* margin-top: 7%; */
    /* border: 5px solid blue; */
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto; */
    /* grid-gap: 10px; */
    /* grid-gap: 1%; */
    /* grid-gap: 30px; */
    /* background-color: #2196f3; */
    /* margin-top: 40px; */
    /* padding-left: 60px; */
    /* width: 85%; */
    /* height: 90%; */
    /* grid-template-columns: repeat(4, 13.43%); */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(7, 6.5%); */
    /* grid-template-rows: repeat(7, 29%); */
  }
}
