/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* 로고 있는 헤더 네브바 */
.content-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  /* border: 5px solid red; */
}

/* SLOWTV 로고 */
.logo1 {
  /* border: 5px solid red; */
  color: #fff;
  margin-top: 0px;
  margin-left: 50px;
  font-size: 1.1remn;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 4rem;
  cursor: pointer;
}

/* SLOWTV 로고 */
.logo1 span {
  font-weight: 300;
}

/* 오른쪽 사이드바 */
.test-links {
  /* border: 5px solid red; */
  /* margin-top: 10px; */
  margin-right: 10px;
  position: absolute;
  width: 20%;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  /* list-style: none; */
  /* margin-top: 90px; */
  /* margin-top: 40%; */
}

.test-links a {
  /* border: 5px solid blue; */
  text-decoration: none;
  color: #eee;
  padding: 0.5rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3;
  /* opacity: 1; */
  transform: translateY(10px);
  /* animation: hide 0.5s forwards ease; */
}

.test-links a:hover {
  color: #fff;
  font-weight: 350;
}

.container .test-links a {
  /* animation: appear 0.5s forwards ease var(--i); */
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

/* 이미지들 이거로 위치 조정 */
.contents {
  /* border: 5px solid red; */
  margin-top: 8%;
}

.img_list {
  /* border: 5px solid red; */
  /* margin-top: 60px; */
  /* float: left; */
  perspective: 1500px;

  /* width: 100%; */
  /* 이게 이미지 모양 조절 해줌 왤까? */
  height: 50vh;
}

.content-img {
  /* border: solid 5px navy;
    width: 100%;
    height: 100%; */
  width: 100%;
  height: 100%;
  border-left-width: 1px;
  /* border-left: 3px solid gray; */
  border-radius: 15px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.5)));
}

.div-img-one {
  /* display: inline-block; */
  /* border: 6px solid red; */
  transform: rotateY(45deg);
  position: absolute;
  bottom: 0;
  transition: all ease 1s;
  z-index: 1;
  /* 자주 바꾸는 거 */
  /* 픽셀 */
  /* width: 500px;
  height: 95px;
  top: 150px;
  left: 20px; */
  /* 퍼센트 */
  width: 50%;
  height: 20%;
  top: 57%;
  left: 9.3%;

  border-left: 3px solid gray;
  border-radius: 15px;
}

.div-img-two {
  display: inline-block;
  /* border: 6px solid orange; */
  transform: rotateY(45deg);
  position: absolute;
  bottom: 0;
  transition: all ease 1s;
  z-index: 2;
  /* 자주 바꾸는 거 */
  /* 픽셀 */
  width: 500px;
  height: 130px;
  top: 135px;
  left: 33px;
  /* 퍼센트 */
  width: 50%;
  height: 35%;
  top: 50%;
  left: 10%;

  border-left: 3px solid gray;
  border-radius: 15px;
}

.div-img-three {
  display: inline-block;
  /* border: 6px solid yellow; */
  transform: rotateY(45deg);
  position: absolute;
  bottom: 0;
  transition: all ease 1s;
  z-index: 3;
  /* 자주 바꾸는 거 */
  /* 픽셀 */
  /* width: 500px;
  height: 180px;
  top: 110px;
  left: 60px; */
  /* 퍼센트 */
  width: 50%;
  height: 48%;
  top: 43%;
  left: 11%;

  border-left: 3px solid gray;
  border-radius: 12px;
}

.div-img-four {
  /* display: inline-block; */
  /* border: 6px solid green; */
  transform: rotateY(45deg);
  position: absolute;
  bottom: 20;
  transition: all ease 1s;
  z-index: 4;
  /* 자주 바꾸는 거 */
  /* 픽셀 */
  /* width: 500px;
  height: 260px;
  top: 70px;
  left: 100px; */
  /* 퍼센트 */
  width: 50%;
  height: 75%;
  top: 30%;
  left: 14%;

  border-left: 3px solid gray;
  border-radius: 15px;
}

.div-img-five {
  /* 미디어쿼리 테스트용 */
  /* transform: rotateY(0deg);
  width: 70%;
  left: 35%;
  border-left: none; */
  /* 미디어쿼리 테스트용 끝 */
  /* 미디어쿼리 테스트용 잠깐 끔*/
  transform: rotateY(45deg);

  /* display: inline-block; */
  /* border: 6px solid blue; */

  position: absolute;
  bottom: 10px;
  transition: all ease 1s;
  z-index: 5;
  /* 자주 바꾸는 거 */
  /* 픽셀  */
  /* width: 640px;
  height: 360px;
  top: 10px;
  left: 180px; */
  /* 퍼센트 */
  width: 50%;
  height: 125%;
  top: 5%;
  left: 20%;

  border-left: 3px solid gray;
  border-radius: 15px;
}

.div-img-five:hover {
  transform: rotateY(0deg);
  /* width: 580px; */
  /* width: 70%; */
  /* left: 40%; */
  border-left: none;
  transition: all ease 1s;
  /* border: none; */
  /* height: 380px; */
  /* opacity: 0; */
  /* border: 5px solid red; */
}

/* 미디어쿼리 */

/* 맥북 13인치 최대창이 기본갑 */
/* width 1024px(맥북 13인치 최대)보다 작으면 */
@media screen and (max-width: 1024px) {
  .img_list {
    /* border: 5px solid blue; */
  }
}

/* height 529px(맥북 13인치 최대 보다 작으면 */
@media screen and (max-height: 529px) {
  .contents {
    /* border: 5px solid red; */
  }
}

/* width 1200 넘으면 ************************************************/
@media screen and (min-width: 1200px) {
  .img_list {
    /* border: 5px solid red; */
  }
  /* 오른쪽 사이드 바 폰트 크기 */
  .test-links a {
    font-size: 1.3rem;
  }
}

/* width 1400 넘으면 ***********************************************/
@media screen and (min-width: 1400px) {
  .img_list {
    /* border: 5px solid red; */
    perspective: 2000px;
  }
  ul {
    /* margin: 0px; */
  }
  .test-links a {
    padding: 0.7rem 0;
    font-size: 1.5rem;
    /* animation: hide 0.5s forwards ease; */
  }

  /* 이미지 크기 */
}
