.fav-page {
    background: rgb(29, 7, 39);
    height: 100vh;
    width: 100%;
}

.fav-video-checkbox {
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 20px;
}

.fav-thumbnail-img {
    width: 300px;
    height: 220px;
    border-radius: 10px;
    cursor: pointer;
    transition-property: width, height;
    transition-duration: 1s, 1s;
}

.fav-thumbnail-img:hover {
    border: 3px solid pink;
}

.fav-thumbnail-title {
    border: 1px solid rgb(29, 7, 39);
    display: flexbox;
}

.fav-remove-btn {
    /* border: none; */
    /* width: 32px; */
    /* height: 32px; */
    /* background-color: #eee; */
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

/* .fav-remove-btn:hover {
    border: 1px solid #888;
    background-color: #ddd;
} */
/* 
@media screen and (min-width: 1400px) {
    .fav-thumbnail-list {

    }
} */