/* 페이지 전체 */
.favorites_page {
  /* 모달 정가운데 배치 위해 상위에서 작업 */
  background-color: #212021;
  width: 100%;
  height: 100%;
  /* background: #000; */
  /* position: relative; */
  /* overflow: hidden; */
}

.loaded_favorites_page {
  /* border: 3px solid gray; */
  width: 100%;
  height: 100%;
}

/* 로그인/즐겨찾기 목록 없을 때 메세지 */
.loaded_favorites_page_nothing_message {
  /* border: 3px solid red; */
  margin-top: 3%;
  margin-left: 3%;
  color: white;
  font-size: 2vmax;
}

/* ! 게스트 메세지 */
.loaded_favorites_page_guest_message {
  /* border: 3px solid red; */
  float: left;
  margin-top: 10%;
  margin-left: 18%;
  color: white;
  font-size: 2vmax;
  width: 30%;
}
.loaded_favorites_page_guest_message_first {
  /* font-weight: bold; */
  font-weight: 700;
  /* color: #212021; */
}
.loaded_favorites_page_guest_message_seconde {
  font-weight: 300;
  /* color: black; */
}

/* ! 게스트 로그인 박스 */
.loaded_favorites_page_guest_sign_in_box {
  border: 3px solid gray;
  border-radius: 5px;
  float: right;
  position: relative;
  width: 20%;
  height: 40%;
  right: 18%;
  margin-top: 8%;
  margin-right: 10%;
}

/* ! 게스트 로그인 박스 - 이메일 박스 */
/* ! 게스트 로그인 박스 - 패스워드 박스 */
/* ! 게스트 로그인 박스 - 로그인 박스 */
.loaded_favorites_page_guest_sign_in_email_box,
.loaded_favorites_page_guest_sign_in_password_box {
  /* border: 3px solid blue; */
  /* margin: auto; */
  margin-left: 4.5%;
  margin-top: 4%;
  width: 90%;
  height: 13%;

  border: 1px solid black;
  background-color: white;
  /* width: 80%; */
  /* height: 40%; */
  /* margin-left: 10%; */
  font-size: 1.2vmax;
  border-radius: 5px;
}

.loaded_favorites_page_guest_sign_in_email_box_error,
.loaded_favorites_page_guest_sign_in_password_box_error {
  /* border: 3px solid blue; */
  /* margin: auto; */
  margin-left: 4.5%;
  margin-top: 4%;
  width: 90%;
  height: 13%;

  border: 2px solid #d12929;
  background-color: white;
  /* width: 80%; */
  /* height: 40%; */
  /* margin-left: 10%; */
  font-size: 1.2vmax;
  border-radius: 5px;
}

.loaded_favorites_page_guest_sign_in_sign_in_box {
  /* border: 3px solid blue; */
  /* margin: auto; */
  margin-left: 3%;
  margin-top: 4%;
  width: 90%;
  height: 13%;

  border: 1px solid black;
  /* background-color: white; */
  /* width: 80%; */
  /* height: 40%; */
  /* margin-left: 10%; */
  font-size: 1.2vmax;
  border-radius: 5px;
}

/* ! 소셜 로그인 박스 */
.loaded_favorites_page_guest_sign_in_social_box {
  /* border: 3px solid red; */
  /* margin: auto; */
  margin-top: 8%;
  width: 30%;
  height: 10%;
}

/* ! 구글, 깃허브 박스 */
.loaded_favorites_page_guest_sign_in_social_google_box {
  display: inline;
  width: 46%;
  height: 100%;
  /* margin-right: 1%; */
}

.loaded_favorites_page_guest_sign_in_social_github_box {
  /* border: 1px solid red; */
  display: inline;
  width: 46%;
  height: 100%;
  /* margin-left: 1%; */
}

/* ! 로그인 - 회원가입 사이 hr */
.loaded_favorites_page_guest_sign_in_box_hr {
  margin-top: 10%;
  border: 1px solid gray;
}

/* ! 회원가입 박스 */
.loaded_favorites_page_guest_sign_in_sign_up_box {
  /* border: 1px solid blue; */
  margin: auto;
  margin-top: 3%;
  width: 63%;
  height: 13%;
  /* font-size: 1px; */
}

/* ! 게스트 로그인 박스 - 이메일 input */
/* ! 게스트 로그인 박스 - 패스워드 인풋 */
.loaded_favorites_page_guest_sign_in_email_input,
.loaded_favorites_page_guest_sign_in_password {
  /* border: 1px solid blue; */
  /* font-size: 1.3vmax; */
  /* width: 78%; */
  /* height: 100%; */

  /* border-radius: 5px; */

  /* border: 1px solid black; */
  display: inline;
  float: right;
  width: 86%;
  height: 68%;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin-top: 1%;
  border-radius: 3px;
  /* margin-left: 0; */
}

/* ! 게스트 로그인 박스 - 로그인 버튼 */
.loaded_favorites_page_guest_sign_in_btn {
  /* border: 1px solid blue; */

  border-radius: 5px;
  margin-left: 1%;
  margin-top: 5%;
  width: 98%;
  height: 90%;
  font-size: 1.2vmax;
}

/* ! 소셜 로그인 버튼 */
.loaded_favorites_page_guest_sign_in_social_google_btn {
  width: 46%;
  margin-right: 2%;
  height: 100%;
  border-radius: 10px;
}
.loaded_favorites_page_guest_sign_in_social_github_btn {
  width: 46%;
  margin-left: 2%;
  height: 100%;
  border-radius: 10px;
}
/* ! 소셜 로그인 이미지 */
.loaded_favorites_page_guest_sign_in_social_google_img,
.loaded_favorites_page_guest_sign_in_social_githu_img {
  width: 100%;
  height: 100%;
}

/* ! 게스트 로그인 박스 - 회원가입 버튼 */
.loaded_favorites_page_guest_sign_up_btn {
  /* border: 1px solid blue; */
  border-radius: 5px;
  font-size: 1vmax;
  width: 100%;
  height: 90%;
}

/* ! 썸네일 담은 컨테이너, 드래그 컨테이너 */
.favorites_page_container {
  float: left;
  /* border: 5px solid red; */
  height: 100%;
  width: 80%;
}

/* ! draggable = "true" */
.favorites_page_thumbnail {
  cursor: pointer;
}

/* 햄버거 열었을 때 작은 사이즈 썸네일*/
.favorites_page_small_size_lists {
  /* border: 5px solid blue; */
  display: grid;
  grid-gap: 2%;
  /* grid-gap: 10px; */

  /* 그리드 전체 위치 조정 */
  padding-left: 60px;
  margin-top: 10px;

  width: 85%;
  height: 90%;

  /* background-color: #2196f3; */
  /* grid-template-columns: repeat(4, 13.43%); */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: repeat(7, 6.5%); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 32%);
}

/* 사이드 바 열렸을 때 비디오 리스트 */
.favorites_page_small_size {
  /* margin-top: 5%; */
  /* margin-left: 3%; */
  /* margin: 5%; */
  /* margin-top: 7%; */
  /* border: 5px solid blue; */
  /* grid-template-columns: auto auto auto auto; */
  /* grid-gap: 1%; */
  /* grid-gap: 30px; */
  /* background-color: #2196f3; */
  /* margin-top: 40px; */
  /* padding-left: 60px; */
  width: 75%;
  height: 90%;
  /* grid-template-columns: repeat(4, 13.43%); */
  /* grid-template-columns: 1fr 1fr 1fr; */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 36%);
  /* grid-template-rows: repeat(7, 6.5%); */
}

.favorites_page_thumbnail_img {
  /* border: 3px solid blue; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* cursor: pointer; */
  transition-property: width, height;
  transition-duration: 1s, 1s;
}

.favorites_page_thumbnail_img:hover {
  border: 3px solid white;
}

/* 썸네일 */

.favorites_page_thumbnail_1 {
  /* grid-row-start: 1;
    grid-row-end: 2; */
  /* grid-column-start: 1; */
  /* grid-column-end: 2; */
  /* width: 100%; */
  /* height: 100%; */
}
/* //! 클릭 시 영상으로 이동 */
.favorites_page_thumbnail__btn_box {
  /* border: 3px solid blue; */
  position: absolute;
  width: 21.7%;
  height: 29%;
  /* top: 25%; */
  /* left: 20%; */
}
.favorites_page_thumbnail__btn {
  z-index: 9;
  /* border: 3px solid red; */
  /* border: none; */
  /* border-color: white; */
  border-radius: 50%;
  /* background-color: transparent !important; */
  background-color: white;
  /* background-image: none !important; */
  /* border-color: transparent; */
  opacity: 0.7;
  /* border: none; */
  /* color: #ffffff; */
  color: black;
  position: absolute;
  font-size: 1vmax;
  width: 10%;
  height: 13%;
  top: 83%;
  left: 89%;
}
.favorites_page_thumbnail__btn_icon {
  width: 60%;
  /* border: 3px solid red; */
  height: 60%;
  opacity: 0.8;
  margin-top: 10%;
  margin-left: 20%;
}

/* width 1400 넘으면 ************************************************/
@media screen and (min-width: 1200px) {
  .loaded_favorites_page_guest_sign_in_email_box,
  .loaded_favorites_page_guest_sign_in_password_box,
  .loaded_favorites_page_guest_sign_in_sign_in_box {
    /* margin-left: 4.5%; */
    margin: auto;
    margin-top: 4%;
    width: 90%;
    height: 13%;
    border: 1px solid black;
    /* background-color: white; */
    /* width: 80%; */
    /* height: 40%; */
    /* margin-left: 10%; */
    font-size: 1.2vmax;
    border-radius: 5px;
  }

  .loaded_favorites_page_guest_sign_in_email_box_error,
  .loaded_favorites_page_guest_sign_in_password_box_error {
    /* border: 3px solid blue; */
    /* margin: auto; */
    /* margin-left: 3%; */
    margin: auto;
    margin-top: 4%;
    width: 90%;
    height: 13%;

    border: 2px solid #d12929;
    background-color: white;
    /* width: 80%; */
    /* height: 40%; */
    /* margin-left: 10%; */
    font-size: 1.2vmax;
    border-radius: 5px;
  }
}

/* ! */

.favorites_login_box_right_login_form_OAuth_box {
  /* border: 3px solid gray; */
  margin: auto;
  text-align: center;
  width: 40%;
  height: 7%;
  margin-top: 8%;
}

/* ! 로그인 - 오른쪽 로그인 폼 이메일 박스 이메일 아이콘 input*/
.loaded_favorites_page_guest_sign_in_email_box_icon {
  /* border: 1px solid red; */
  pointer-events: none;
  opacity: 0.5;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 0%;
  padding-right: 0%;
  width: 5%;
  height: 50%;
}

.loaded_favorites_page_guest_sign_in_password_box_icon {
  /* border: 1px solid red; */
  pointer-events: none;
  opacity: 0.5;
  margin-top: 3.4%;
  margin-left: 3%;
  margin-right: 0%;
  padding-right: 0%;
  width: 5%;
  height: 50%;
}
