  :root {
    --background: goldenrod;
  }

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 25%;
  padding: 20px;

  width: 900px;
  height: 500px;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border: 1px solid gray;
  width: 50%;
  height: 50vmin;
  background-color: var(--background);
    /* padding: 10px; */
    /* position: relative; */
   
   
    font-size: 30px;
  }

  .loginClose {
    float:right;
  }

  .loginBtn {
    margin: 5px;
    padding: 5px 10px 5px 10px;
    width: 50%;
    border-radius: 8px;
    /* text-align: center; */
    border: 5px solid gray;
    font-size: 20px;
  }

  .signupBtn {
    margin: 20px 0px 0px 48%;
    padding: 5px 10px 5px 10px;
    width: 50%;
    border-radius: 8px;
    /* text-align: center; */
    border: 5px solid gray;
    font-size: 20px;
  }

  .signupInput {
    margin: 10px 0px 0px 48%;
    padding: 5px 10px 5px 10px;
    width: 50%;
    left: 50%;
    border-radius: 8px;
    border: 5px solid gray;
    font-size: 20px;
  }
  
  .userinfoInput {
    /* opacity: 80%; 투명도 정하기 */
    margin: 10px 10px 10px 5px;
    padding:  5px 10px 5px 10px;
    width: 50%;
    font-size: 20px;
    border-radius: 8px;
    border: 5px solid gray;
  }

  .bar {
    width: 41%;
    height: 5px;
    position: absolute;
    background: gray;
  }