/* 페이지 전체 */
.login_page {
  /* border: 5px solid gray; */
  height: 100%;
}

/* ! 로그인 - 로그인 박스 전체 */
.login_box {
  display: flex;
  justify-content: center;
  /* -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center; */
  /* border: 3px solid red; */
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 64%;

  /* width의 반만큼 빽 */
  margin-left: -25%;
  /* height의 반만큼 빽 */
  margin-top: -16%;
}

/* ? 회원가입 -회원가입 박스 전체 */
.sign_in_box {
  display: flex;
  justify-content: center;
  /* -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center; */
  /* border: 3px solid red; */
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 64%;
  /* width의 반만큼 빽 */
  margin-left: -25%;
  /* height의 반만큼 빽 */
  margin-top: -16%;
}

/* ! 로그인 - 왼쪽 웰컴 카드 전체 */
.login_box_left_welcome_card {
  /* display: inline; */
  /* float: left; */
  border: 3px solid gray;
  width: 50%;
  height: 100%;
  /* margin-top: 5%; */

  /* position: absolute; */
  /* left: 0px; */
  /* box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px; */
  /* transition: left 1s ease 0s, border-radius 1s ease 0s; */
  /* border-radius: 15px 0px 0px 15px; */
  /* overflow: hidden; */
}

/* ? 회원가입 - 오른쪽 웰컴 카드 전체 */
.sign_in_box_right_welcome_card {
  /* display: inline; */
  /* float: right; */
  border: 3px solid gray;
  width: 50%;
  height: 100%;
  /* margin-top: 5%; */
  /* position: absolute; */
  /* right: 0px; */
  /* z-index: 999; */
  /* box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px; */
  /* transition: right 1s ease 0s, border-radius 1s ease 0s; */
  /* border-radius: 0px 15px 15px 0px; */
  /* overflow: hidden; */
}

/* ! 로그인 - Welcome Back! 문구 ****************************************/
.login_box_left_welcome_card_phrase {
  border: 1px solid gray;
  font-size: 2.3vmax;
  text-align: center;
  margin-top: 10%;
  /* height: 10%; */
}

/* ? 회원가입 -Welcome! 문구 ****************************************/
.sign_in_box_right_welcome_card_phrase {
  border: 1px solid gray;
  font-size: 2.3vmax;
  text-align: center;
  margin-top: 10%;
  /* height: 10%; */
}

/*! 로그인 -Welcome Card img ****************************************/
.login_box_left_welcome_card_img {
  border: 1px solid gray;
  width: 100%;
  height: 50%;
  margin-top: 8%;
}

/* ? 회원가입 -Welcome Card img ****************************************/
.sign_in_box_right_welcome_card_img {
  border: 1px solid gray;
  width: 100%;
  height: 50%;
  margin-top: 8%;
}

/*! 로그인 -Welcome card Register btn ****************************************/

/* ! div */
.login_box_left_welcome_card_register_div {
  height: 10%;
  text-align: center;
  border: 1px solid gray;
  margin-top: 10%;
}
/* ! btn */
.login_box_left_welcome_card_register_btn {
  font-size: 2.3vmax;
  /* 버튼 테투리 */
  /* border: none; */
  border: 1px solid gray;
  border-radius: 9999px;
  /* 세로 */
  /* height: 2.5rem; */
  height: 100%;
  /* 버튼 패딩줘서 글씨 가운데 위치시킴 */
  padding-left: 20%;
  padding-right: 20%;
  /* 버튼 배경 색 */
  background: rgb(255, 255, 255);
  /* 버튼 글자 색 */
  color: rgb(79, 79, 79);
}

/* ? 회원가입 - Welcome card login btn ****************************************/

/* ? div */
.sign_in_box_right_welcome_card_login_div {
  height: 10%;
  text-align: center;
  border: 1px solid gray;
  margin-top: 10%;
}
/* ? btn */
.sign_in_box_right_welcome_card_login_btn {
  font-size: 2.3vmax;
  /* 버튼 테투리 */
  /* border: none; */
  border: 1px solid gray;
  border-radius: 9999px;
  /* 세로 */
  /* height: 2.5rem; */
  height: 100%;
  /* 버튼 패딩줘서 글씨 가운데 위치시킴 */
  padding-left: 20%;
  padding-right: 20%;
  /* 버튼 배경 색 */
  background: rgb(255, 255, 255);
  /* 버튼 글자 색 */
  color: rgb(79, 79, 79);
}

/* ! 로그인 - 오른쪽 로그인 폼 */
.login_box_right_login_form {
  /* display: inline; */
  /* float: right; */
  border: 3px solid gray;
  width: 50%;
  height: 100%;
  /* margin-top: 5%; */
  /* position: absolute; */
  /* right: 0px; */
  /* z-index: 999; */
  /* box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px; */
  /* transition: right 1s ease 0s, border-radius 1s ease 0s; */
  /* border-radius: 0px 15px 15px 0px; */
  /* overflow: hidden; */
}

/* ? 회원가입 - 왼쪽 레지스터 폼 */
.sign_in_box_left_register_form {
  /* display: inline; */
  /* float: left; */
  border: 3px solid gray;
  width: 50%;
  height: 100%;
  /* margin-top: 5%; */

  /* position: absolute; */
  /* left: 0px; */
  /* box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px; */
  /* transition: left 1s ease 0s, border-radius 1s ease 0s; */
  /* border-radius: 15px 0px 0px 15px; */
  /* overflow: hidden; */
}

/* ! 로그인 - 오른쪽 로그인 폼 타이틀 Login*/
.login_box_right_login_form_title {
  border: 1px solid gray;
  font-size: 2vmax;
  text-align: center;
  margin-top: 30%;
  /* height: 10%; */
}
/* ? 회원가입 - 왼쪽 회원가입 폼 타이틀 Register*/
.sign_box_left_register_form_title {
  /* border: 1px solid gray; */
  font-size: 2vmax;
  text-align: center;
  margin-top: 10%;
  /* height: 10%; */
}

/* ! 로그인 - 오른쪽 로그인 폼 이메일 박스, 비밀번호 박스*/
.login_box_right_login_form_email_box,
.login_box_right_login_form_password_box {
  /* border: 1px solid gray; */
  /* font-size: 2vmax; */
  /* text-align: center; */
  margin-top: 5%;
  height: 15%;
  width: 100%;
}
/* ? 회원가입 - 왼쪽 회원가입 폼 유저네임 박스, 이메일 박스, 비밀번호 박스*/
.sign_in_box_left_register_form_username_box,
.sign_in_box_left_register_form_email_box,
.sign_in_box_left_register_form_password_box {
  /* border: 3px solid blue; */
  /* font-size: 2vmax; */
  /* text-align: center; */
  margin-top: 5%;
  height: 13%;
  width: 100%;
}

/* ! 로그인 - 오른쪽 로그인 폼 이메일 박스, 비밀번호 박스 타이틀 email, password*/
.login_box_right_login_form_email_box_title,
.login_box_right_login_form_password_box_title {
  /* border: 1px solid blue; */
  width: 80%;
  margin-left: 10%;
  font-size: 1.2vmax;
}

/* ? 회원가입 - 왼쪽 회원가입 폼 유저네임 박스, 이메일 박스, 비밀번호 박스 타이틀 Username, email, password*/
.sign_in_box_left_register_form_username_box_title,
.sign_in_box_left_register_form_email_box_title,
.sign_in_box_left_register_form_password_box_title {
  /* border: 1px solid blue; */
  width: 80%;
  margin-left: 10%;
  font-size: 1.2vmax;
}

/* ! 로그인 - 오른쪽 로그인 폼 이메일 박스 이메일,패스워드 input*/
.login_box_right_login_form_email_box_input,
.login_box_right_login_form_password_box_input {
  width: 78%;
  height: 30%;
  margin-left: 10%;
}

/* ? 회원가입 - 오른쪽 회원가입 폼 이메일 박스 유저네임, 이메일, 패스워드 input*/
.sign_in_box_left_register_form_username_box_input,
.sign_in_box_left_register_form_email_box_input,
.sign_in_box_left_register_form_password_box_input {
  width: 78%;
  height: 30%;
  margin-left: 10%;
}

/* ! 로그인 - 오른쪽 로그인 폼 sign in 박스 */
.login_box_right_login_form_sign_in_box {
  border: 1px solid gray;
  /* font-size: 2vmax; */
  text-align: center;
  margin-top: 10%;
  height: 6%;
}

/* ? 회원가입 - 왼쪽 회원가입 폼 sign in 박스 */
.sign_in_box_left_register_form_register_box {
  border: 1px solid gray;
  /* font-size: 2vmax; */
  text-align: center;
  margin-top: 10%;
  height: 6%;
}

/* ! 로그인 - 오른쪽 로그인 폼 sign in 버튼 */
.login_box_right_login_form_sign_in_box_btn {
  font-size: 1.1vmax;
}

/* ? 회원가입 - 왼쪽 회원가입 폼 register 버튼 */
.sign_in_box_left_register_form_register_box_btn {
  font-size: 1.1vmax;
}

/* ! 로그인 - 오른쪽 로그인 폼 OAuth 박스 */
.login_box_right_login_form_OAuth_box {
  border: 1px solid gray;
  /* font-size: 2vmax; */
  text-align: center;
  margin-top: 6%;
  height: 6%;
}

/* ? 회원가입 - 왼쪽 회원가입 폼 OAuth 박스 */
.sign_in_box_left_register_form_OAuth_box {
  border: 1px solid gray;
  /* font-size: 2vmax; */
  text-align: center;
  margin-top: 6%;
  height: 6%;
}

/* ! 로그인 - 오른쪽 로그인 폼 OAuth 박스 구글 div */
.login_box_right_login_form_OAuth_box_google_div {
  display: inline;
}

/* ? 회원가입 - 왼쪽 회원가입 폼 OAuth 박스 구글 div */
.sign_in_box_left_register_form_OAuth_box_google_div {
  display: inline;
}

/* ! 로그인 - 오른쪽 로그인 폼 OAuth 박스 구글 버튼 */
.login_box_right_login_form_OAuth_box_google_btn {
  font-size: 1.1vmax;
  height: 100%;
}
/* ? 회원가입 - 왼쪽 회원가입 폼 OAuth 박스 구글 버튼 */
.sign_in_box_left_register_form_OAuth_box_google_btn {
  font-size: 1.1vmax;
  height: 100%;
}

/* ! 로그인 - 오른쪽 로그인 폼 OAuth 박스 깃허브 div */
.login_box_right_login_form_OAuth_box_github_div {
  display: inline;
}
/* ? 회원가입 - 왼쪽 회원가입 폼 OAuth 박스 깃허브 div */
.sign_in_box_left_register_form_OAuth_box_github_div {
  display: inline;
}

/* ! 로그인 - 오른쪽 로그인 폼 OAuth 박스 깃허브 버튼 */
.login_box_right_login_form_OAuth_box_github_btn {
  font-size: 1.1vmax;
  height: 100%;
}

/* ? 회원가입 - 왼쪽 회원가입 폼 OAuth 박스 깃허브 버튼 */
.sign_in_box_left_register_form_OAuth_box_github_btn {
  font-size: 1.1vmax;
  height: 100%;
}
