/* 네브 바 */
.nav_page {
  /* border: 2px solid gray; */
  height: 4.5%;
  /* background-color: #545254; */
  background-color: #212021;
  border-bottom: 2px solid #545254;
}

.nav_page_navbar {
  /* border: 1px solid orange; */
  /* margin: 3px; */
  width: 100%;
  height: 100%;
}

/* 로고  */
.nav_page_logo_box {
  /* border: 1px solid orange; */
  color: white;
  display: inline;
  height: 3%;
  font-size: 1.3vmax;
  position: absolute;
  top: 0.5%;
  left: 2%;
}

.nav_page_logo {
}

/* 아이콘 */
.nav_page_icon_box {
  /* border: 3px solid orange; */
  /* margin-right: 13px; */
  /* width: 1.2%; */
  width: 1.2%;
  height: 2.4%;
  position: absolute;
  top: 1%;
  right: 2%;
  /* color: white; */
}

.nav_page_icon {
  background-color: white;
  /* color: white; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
