.first-phrase {
  font-size: 1em;
  text-align: center;
}
.second-phrase {
  font-size: 2em;
  text-align: center;
}

.sign-up-form {
  border: 3px solid gray;
  display: flex;
  flex-direction: column;
}
#user-name,
#user-id,
#user-password {
  border: none;
  border-bottom: 3px solid gray;
}
